*{
    box-sizing: border-box;
}
input{
    display: block;
    padding: 20px; 
    border: 2px solid gainsboro;
    margin-top: 2px;
    width: 100%;
    margin: 10px;
    border-radius: 10px;
}

form{
    border: 2px solid beige;
    width: 450px;
    height: 390px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    margin-top: 40px;
    
   padding-left: 2px;
   background-color: white;
}
  
button{
    display: block;
    margin: 20px auto;
    padding: 5px;
    cursor: pointer;
    border: 1px solid white;
    width:100%;
    height: 50px;
    border-radius: 6px;
    background-color: rgb( 24, 119, 242);
    color: white;
    
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    
}
h1{
    color: blue;
    text-align: center;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
   text-align: center;
   font: size 10px; 
   font-family: Arial, Helvetica, sans-serif;
}
h3{
    text-align: center;
    margin-bottom: 5px;
   
}
hr{
    margin-left: 16px;
    color: aliceblue;
}
#btn1{
    background-color: rgb(12, 119, 12);
    width: 50%;
    margin: auto;
  
}
p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
::placeholder{
    font-size: 15px;
}
body {
  background-color: #f0f2f5;
}
